{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    /* CSS untuk mendesain elemen login */
    .login {
        background-color: #93d7f7; 
        padding: 20px;
        border-radius: 10px;
    }

    h1 {
        color: #c269b3; /* Warna teks judul */
        text-align: center;
    }

    .login_btn {
        background-color: #c269b3; /* Warna latar belakang tombol login */
        color: #fff; /* Warna teks tombol login */
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .login_btn:hover {
        background-color: #b30086; /* Warna latar belakang tombol saat hover */
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        color: #ff00d0; /* Warna teks pesan kesalahan */
    }

    a {
        color: #b30086; /* Warna teks tautan Register Now */
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="login">
    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <div class="card mx-auto" style="max-width: 400px;">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label for "password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <input class="btn login_btn" type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
</div>

{% endblock content %}